@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    margin-left: 40px;
    margin-top: 50px;
}

ul {
    list-style-type: none;
}

li a {
    color: #222222;
    text-decoration: none;
    line-height: 3.5vw;
    border: 2px solid #222222;
    border-radius: 5px;
    padding: 7px;
    font-size: 14px;
}

li a:hover {
    background-color: #444444;
    color: #FEFEFE;
}

.page-item {
    background-color: #222222;
    color: #FEFEFE;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    border-radius: 2px;
}

select {
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
}

input {
    margin-left: 40px;
    margin-right: 10px;
    padding: 5px;
    font-size: 14px;
}

.submit-button {
    padding: 5px 10px;
    font-size: 14px;
}